/node_modules
/public/hot
/prototype_ERP/pinegrow.json
/prototype_ERP/.idea
/prototype_ERP/_pgbackup/*
/prototype_ERP/css/_pgbackup
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/mysql/*
/apps/erp/frontend/node_modules
/apps/erp/frontend/dist
apps/erp/frontend/src/assets/less/icons/material-design-iconic-font/css/_pgbackup
apps/erp/frontend/src/assets/css/_pgbackup
/apps/erp/vue3/node_modules
