* {
    padding: 0px;
    margin: 0px;
}

th {
    color: #576984;
    text-align: center;
    font-weight: 700;
}

td {
    color: #576984;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
}

thead {
    background-color: #cef0fa;
}

body {
    background: #E5E5E5;
    font-size: 14px;
}

.nav-ej {
    height: 50px;
    background: linear-gradient(89.99deg, #0F9AF2 -0.79%, #0FB5F2 101.11%);
}

.div-title-table {
    background: #ffffff;
}

.xtitle-table {
    font-family: "Poppins-Bold";
    color: #576984;
    font-size: 25px;
    display: inline;
    margin-left: 16px;
}

.btn-blue2-deg:hover {
    background: linear-gradient(89.99deg, #0fa2f2 -0.79%, #3ebef5 101.11%);
    color: white;
}

.btn-blue2-deg {
    background: linear-gradient(89.99deg, #0fbbf2 -0.79%, #3ed3f5 101.11%);
    color: white;
    margin-top: 3px;
    margin-bottom: 3px;
    height: 32px;
    align-self: center;
    padding-top: 4px;
    min-width: 100px;
}

.btn-blue-deg {
    background: linear-gradient(89.99deg, #0F9AF2 -0.79%, #0FB5F2 101.11%);
    color: white;
    margin-top: 3px;
    margin-bottom: 3px;
    height: 32px;
    align-self: center;
    padding-top: 4px;
    min-width: 100px;
}

.btn-blue-deg:hover {
    background: linear-gradient(89.99deg, #0F9AF2 -0.79%, #187be5 101.11%);
    color: white;
}

.btn-red,
.btn-green,
.btn-yellow,
.btn-blue2 {
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-blue2 {
    color: white;
    background-color: #0F9AF2;
    border-color: #0F9AF2;
}

.btn-blue2:hover {
    background-color: #187be5;
    color: white;
}

.btn-yellow {
    color: #576984;
    background-color: #FFB136;
    border-color: #FFB136;
}

.btn-yellow:hover {
    background-color: #ec8f00;
}

.btn-green {
    color: white;
    background-color: #2ecc71;
    border-color: #2ecc71;
}

.btn-green:hover {
    background-color: #229b18;
    color: white;
}

.btn-red {
    color: white;
    background-color: #E74A25;
    border-color: #E74A25;
}

.btn-red:hover {
    background-color: #be2222;
    color: white;
}

.navigation {
    font-size: 13px;
    font-family: "Poppins-Italic";
    color: #8090a2;
    display: inline;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
}

.xinfo-cl {
    color: #0FB5F2;
}

.d-datos-principal {
    background-color: white;
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 11px 17px 7px rgba(0, 0, 0, 0.06);
}

.xcontainer {
    background-color: white;
    margin: 0px;
    padding: 0px;
}

.xtitle-buscar {
    font-family: "Poppins-Bold";
    color: #576984;
    margin-left: 25px;
    font-size: 15px;
}

.xsubtitle-buscar {
    font-size: 12px;
    text-indent: 7px;
    color: #576984;
    margin-bottom: 0px;
}

.btn-cicle {
    width: 26px;
    height: 26px;
    text-align: center;
    border-radius: 15px;
    background-color: #EAEDF1;
    padding: 0px;
    margin-right: 6px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cicle:hover {
    background-color: #d6dde6;
}

.p-pag {
    color: #576984;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px 10px;
    line-height: 22px;
    font-size: 14px;
}

.inp-pag {
    background-color: #ffffff;
    width: 50px;
    height: 26px;
    color: #576984;
    font-weight: 500;
    padding-left: 8px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-radius: 7px;
    border: 1px solid #e9e9e9;
}

.chk {
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    border-top-color: #000000;
}

.inp02 {
    border-width: 0px;
    border-radius: 6px;
    background-color: #f1f1f1;
    margin-top: 22px;
}

.input02 {
    border-width: 0px;
    border-radius: 6px;
    background-color: #f1f1f1;
    margin: 30px 0px 10px;
}

.btn-opt:hover {
    background-color: #d3dae4;
}

.btn-opt {
    background-color: #EAEDF1;
    padding-left: 30px;
    padding-right: 30px;
    height: 29px;
}

.sub-row {
    box-shadow: inset 0px 12px 16px 0px rgba(0, 0, 0, 0.05);
    background-color: #fdfdfd;
}

.sub-row-item {
    box-shadow: inset 0px 12px 16px 0px rgba(0, 0, 0, 0.05);
    background-color: #f0f8fb;
}

.bg-blue1 {
    background: #0FB5F2;
}

.bg-blue2 {
    background: #0F9AF2;
}

.bg-green1 {
    background: #2ecc71;
}

.bg-yellow1 {
    background: #FFB136;
}

.bg-red1 {
    background: #E74A25;
}

.num-cicle {
    width: 23px;
    height: 23px;
    border-radius: 15px;
    padding: 2px 2px 2px 1px;
    margin-right: 6px;
    margin-left: 5px;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    color: #ffffff;
}

.borde-yellow1 {
    border-radius: 7px;
    text-align: center;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    color: #FFB136;
    border: #FFB136 1px solid;
}

.borde-green1 {
    border-radius: 7px;
    text-align: center;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    color: #2ecc71;
    border: #2ecc71 1px solid;
}

.borde-red1 {
    border-radius: 7px;
    text-align: center;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    color: #E74A25;
    border: #E74A25 1px solid;
}

.borde-blue1 {
    border-radius: 7px;
    text-align: center;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    color: #0F9AF2;
    border: #0F9AF2 1px solid;
}

.borde-blue2 {
    border-radius: 7px;
    text-align: center;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    color: #0FB5F2;
    border: #0FB5F2 1px solid;
}

.icon {
    padding: 12px 12px;
    text-decoration: none;
    background-size: 18px;
    background-position: 2px 2px;
    background-repeat: no-repeat;
    margin-top: 0px;
}

.disablem {
    opacity: 0.5;
}

.arrow-left {
    background-image: url("../images/icons/arrow-left.svg");
}

.arrow-down {
    background-image: url("../images/icons/arrow-down.svg");
}

.arrow-right {
    background-image: url("../images/icons/arrow-right.svg");
}

.des-row {
    width: 16px;
    height: 16px;
}

.dropdown-item {
    color: #8090a2;
    padding-left: 30px;
    padding-right: 30px;
}

.dropdown-item:hover {
    color: #576984;
    background-color: #d5e3ef;
}

#th-ini {
    padding: 8px 0px 0px 22px;
    width: 77px;
}

option {
    color: #576984;
}

h4 {
    color: #576984;
    font-weight: 700;
}

.label-imp {
    position: absolute;
    display: inline-flex;
    width: 75%;
    height: 100%;
    align-items: flex-end;
    padding-left: 13px;
    padding-bottom: 15px;
    margin-top: 0px;
    font-weight: 600;
    font-size: 20px;
}

div.col-md-3 > .input02:focus div.col-md-3 > .label-imp {
    position: absolute;
    display: inline-flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    padding-left: 5px;
    padding-bottom: 46px;
    margin-top: 0px;
    font-weight: 600;
    font-size: 20px;
}

h6 {
    color: #576984;
    font-weight: 600;
}

.empesable {
    background-color: #cef0fa;
}

.d-table-item {
    background-color: #ffffff;
    box-shadow: 0px 11px 17px 7px rgba(0, 0, 0, 0.06);
    margin-left: -12px;
    margin-right: -12px;
}

tr.sub-row-item > td {
    text-align: left;
}

tr.sub-row-item > td > label {
    font-size: 13px;
    margin-left: 10px;
    letter-spacing: 1px;
    font-weight: 700;
}

.d-table-item > table > thead > tr > th {
    text-align: left;
}

.d-table-item > table > thead > tr > th:last-child {
    text-align: center;
}

.d-table-item > table > thead {
    background-color: #cef0fa;
}

.form {
    width: 100%;
    height: 67px;
    position: relative;
    overflow: hidden;
}

.form input {
    width: 100%;
    height: 37px;
    color: #576984;
    padding-top: 20px;
    outline: 0px;
    padding-bottom: 12px;
    border-radius: 6px;
    background-color: #f4f4f4;
    bottom: 10px;
    position: absolute;
    border-style: none;
    padding-left: 6px;
}

.form select {
    width: 100%;
    height: 37px;
    color: #576984;
    outline: 0px;
    border-radius: 6px;
    background-color: #fafafa;
    bottom: 10px;
    position: absolute;
    padding-left: 6px;
    border: 1px solid #ced4da;
}

.form .lbl-nombre {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.form .lbl-nombre:after {
    content: '';
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #2ecece;
    transform: translateX(-150%);
    transition: all 0.4s ease;
    align-items: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.text-nomb {
    position: absolute;
    bottom: 9px;
    left: 0;
    transition: all 0.3s ease;
    color: #576984;
    padding-left: 6px;
    font-weight: 400;
}

td div.form input {
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
}

.form input:focus + .lbl-nombre .text-nomb,
.form input:valid + .lbl-nombre .text-nomb {
    transform: translateY(-132%);
    font-size: 16px;
    color: #2ecece;
}

.form select:focus + .lbl-nombre .text-nomb,
.form select:valid + .lbl-nombre .text-nomb {
    font-size: 15px;
    color: #2ecece;
    border-left-color: #2ecece;
    background-color: #ffffff;
    margin-left: 5px;
    padding-left: 4px;
    padding-right: 5px;
    transform: translateY(-105%);
    letter-spacing: 0.5px;
}

.form select:focus,
.form select:valid {
    border: 2px solid #2ecece;
}

.form input:focus + .lbl-nombre:after,
.form input:valid + .lbl-nombre:after {
    transform: translateX(0%);
}

.form select:focus + .lbl-nombrexxx:after,
.form select:valid + .lbl-nombrexxx:after {
    transform: translateX(0%);
}

@media only screen and (min-width:320px) and (max-width:768px){
    .form {
        width: 85%;
    }
}

.inp-filter {
    background-color: #ffffff;
}

.inp-filter-val {
    background-color: #ffffff;
    border: 2px solid #2ecece;
}

.inp-filter:focus {
    background-color: #fbfbfb;
    border: 1px solid #2ecece;
}

.navigation > a {
    color: #7faec8;
    font-weight: 400;
}

.group-label label {
    position: absolute;
    top: -32px;
}

.ima-sm-item:hover {
    border: 2px solid #0fb4f2;
    transition: border 5ms;
}

.ima-sm-item {
    width: 40px;
}

@media (max-width: 500px){
    .xtitle-table {
        font-size: 20px;
    }

    .navigation {
        font-size: 10px;
    }
}

.menu-horizontal li {
    text-decoration: none;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
}

ul.menu-horizontal > li a {
    color: rgba(255, 255, 255, .7);
    font-size: 14px;
    font-weight: 600;
}

ul.menu-horizontal > li a:hover {
    color: white;
}

#list02 > li:hover {
    background-color: #def4ff;
}

#list02 > li form input::placeholder {
    color: #8d9498;
}

#list02 > li form input {
    color: #8d9498;
    font-size: 14px;
    font-weight: 500;
}

#list02 > li form input:focus {
    border: 1px solid #b9e0fd;
    border-radius: 6px;
}

#list02 > li form i {
    color: #8d9498;
    font-size: 14px;
    font-weight: 500;
}

.td-btn-med {
}

.btn-table {
    min-width: 100px;
}

.activooo {
    background-color: red;
}

.table > tbody  tr th a {
    padding-left: 1px;
    padding-right: 1px;
    margin-left: 5px;
    margin-right: 13px;
}

ul.menu-config > li a {
    color: #576984;
}

ul.menu-config > li {
    padding-bottom: 0px;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#menu-config {
    color: #586670;
    transition: all 0.3s;
    height: 100%;
}

#menu-config ul.components {
    padding: 20px 0;
    height: 100%;
    border-right: 1px solid #c2c8d2;
}

#menu-config ul li a {
    padding: 10px 10px 10px 16px;
    font-size: 1.1em;
    display: block;
    position: relative;
}

#menu-config ul li a:hover {
    color: #1c3045;
    font-weight: 500;
    background: #fafbfc;
}

#menu-config > ul > li.active > a {
    color: #3468b6;
    border: 1px solid #c2c8d2;
    border-top-left-radius: 5px;
    font-weight: 700;
    border-right: 1px solid #ffffff;
    border-bottom-left-radius: 5px;
    left: 1px;
}

#menu-config-collapse {
    display: none;
}

#menu-config.active {
    display: block;
}

.config-div01 {
    width: 20%;
    padding-right: 0.5%;
}

.config-div02 {
    width: 80%;
    padding-right: 2%;
}

@media (max-width: 900px) {
    #menu-config {
        display: none;
        background: white;
        position: absolute;
        width: 50%;
        height: 30%;
        z-index: 1;
    }

    .config-div01 {
        width: 100%;
    }

    .config-div02 {
        width: 100%;
        padding-left: 3%;
        padding-right: 3%;
    }

    #menu-config > ul > li > a {
        border: 0px ;
        border-radius: 0px;
    }

    #menu-config > ul > li.active > a {
        border: 0px ;
        border-radius: 0px;
    }

    #menu-config > ul.components {
        border-right: 0px solid #c2c8d2;
    }

    #menu-config.active {
        margin-left: 0;
    }

    #new01 {
        padding-left: 9px;
    }

    #menu-config-collapse {
        display: block;
    }
}

.bnt-config:hover {
    border: 1px solid #f1f5f5;
    color: #3c495c;
    background-color: #eaf2f6;
}

.bnt-config {
    border: 1px solid #f1f5f5;
    color: #576984;
}

.menu-horizonrtal {
    padding-top: 5px;
}

.chk-sm {
    padding-left: 4px;
}

ul.cuentas li {
    list-style: none;
}

.cuentas {
    list-style: none;
}



