.center-login-med {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.bg-body {
    background-color: #f2f2f2;
}

.row-login {
    background-color: white;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 80px;
    border-radius: 16.6291px;
}

.input-login {
    background: #eaeaea;
    opacity: 0.7;
    border: 0px;
}

.linear-btn {
    background: linear-gradient(269.85deg, #0FBAF2 -16.5%, #0F95F2 111.4%);
}

.olvidar-clave {
    font-family: Arial;
    font-style: italic;
    font-size: 15px;
    color: #1ca3fa;
}

@media (max-width: 500px) {
    .row-login {
        padding: 40px;
    }
}

.text-in {
    font-family: Arial;
    font-style: italic;
    font-weight: normal;
    font-size: 10pt;
    line-height: 15pt;
    color: #8F8F8F;
}

.div-text {
    text-align: left;
}

.text-re {
    font-family: Poppins;
    font-size: 20px;
}

.clr-text {
    color: #486075;
}


